@media (prefers-color-scheme: dark) {
    /* Your dark mode CSS variables go here */

    :root {

        /* main dark */
        --main-light-primary: #A3C9FF;
        --main-light-on-primary: #00315C;
        --main-light-primary-container: #004882;
        --main-light-on-primary-container: #D3E3FF;
        --main-light-primary-fixed: #D3E3FF;
        --main-light-on-primary-fixed: #001C39;
        --main-light-primary-fixed-dim: #A3C9FF;
        --main-light-on-primary-fixed-variant: #004882;
        --main-light-secondary: #BCC7DB;
        --main-light-on-secondary: #263141;
        --main-light-secondary-container: #3C4758;
        --main-light-on-secondary-container: #D8E3F8;
        --main-light-secondary-fixed: #D8E3F8;
        --main-light-on-secondary-fixed: #111C2B;
        --main-light-secondary-fixed-dim: #BCC7DB;
        --main-light-on-secondary-fixed-variant: #3C4758;
        --main-light-tertiary: #D9BDE3;
        --main-light-on-tertiary: #3C2947;
        --main-light-tertiary-container: #543F5E;
        --main-light-on-tertiary-container: #F5D9FF;
        --main-light-tertiary-fixed: #F5D9FF;
        --main-light-on-tertiary-fixed: #261430;
        --main-light-tertiary-fixed-dim: #D9BDE3;
        --main-light-on-tertiary-fixed-variant: #543F5E;
        --main-light-error: #FFB4AB;
        --main-light-on-error: #690005;
        --main-light-error-container: #93000A;
        --main-light-on-error-container: #FFDAD6;
        --main-light-outline: #8D9199;
        --main-light-background: #1A1C1E;
        --main-light-on-background: #E3E2E6;
        --main-light-surface: #121316;
        --main-light-on-surface: #C6C6CA;
        --main-light-surface-variant: #43474E;
        --main-light-on-surface-variant: #C3C6CF;
        --main-light-inverse-surface: #E3E2E6;
        --main-light-inverse-on-surface: #1A1C1E;
        --main-light-inverse-primary: #1760A5;
        --main-light-shadow: #000000;
        --main-light-surface-tint: #A3C9FF;
        --main-light-outline-variant: #43474E;
        --main-light-scrim: #000000;
        --main-light-surface-container-highest: #333538;
        --main-light-surface-container-high: #292A2D;
        --main-light-surface-container: #1E2022;
        --main-light-surface-container-low: #1A1C1E;
        --main-light-surface-container-lowest: #0D0E11;
        --main-light-surface-bright: #38393C;
        --main-light-surface-dim: #121316;

        /* sos dark */
        --sos-dark-primary: #C9BEFF;
        --sos-dark-on-primary: #30009B;
        --sos-dark-primary-container: #4602D7;
        --sos-dark-on-primary-container: #E6DEFF;
        --sos-dark-primary-fixed: #E6DEFF;
        --sos-dark-on-primary-fixed: #1B0063;
        --sos-dark-primary-fixed-dim: #C9BEFF;
        --sos-dark-on-primary-fixed-variant: #4602D7;
        --sos-dark-secondary: #C9C3DC;
        --sos-dark-on-secondary: #312E41;
        --sos-dark-secondary-container: #484459;
        --sos-dark-on-secondary-container: #E6DFF9;
        --sos-dark-secondary-fixed: #E6DFF9;
        --sos-dark-on-secondary-fixed: #1C192B;
        --sos-dark-secondary-fixed-dim: #C9C3DC;
        --sos-dark-on-secondary-fixed-variant: #484459;
        --sos-dark-tertiary: #EDB8CD;
        --sos-dark-on-tertiary: #482535;
        --sos-dark-tertiary-container: #623B4C;
        --sos-dark-on-tertiary-container: #FFD8E6;
        --sos-dark-tertiary-fixed: #FFD8E6;
        --sos-dark-on-tertiary-fixed: #301120;
        --sos-dark-tertiary-fixed-dim: #EDB8CD;
        --sos-dark-on-tertiary-fixed-variant: #623B4C;
        --sos-dark-error: #FFB4AB;
        --sos-dark-on-error: #690005;
        --sos-dark-error-container: #93000A;
        --sos-dark-on-error-container: #FFDAD6;
        --sos-dark-outline: #938F99;
        --sos-dark-background: #1C1B1F;
        --sos-dark-on-background: #E5E1E6;
        --sos-dark-surface: #141316;
        --sos-dark-on-surface: #C9C5CA;
        --sos-dark-surface-variant: #48454E;
        --sos-dark-on-surface-variant: #C9C5D0;
        --sos-dark-inverse-surface: #E5E1E6;
        --sos-dark-inverse-on-surface: #1C1B1F;
        --sos-dark-inverse-primary: #5E37EE;
        --sos-dark-shadow: #000000;
        --sos-dark-surface-tint: #C9BEFF;
        --sos-dark-outline-variant: #48454E;
        --sos-dark-scrim: #000000;
        --sos-dark-surface-container-highest: #363438;
        --sos-dark-surface-container-high: #2B292D;
        --sos-dark-surface-container: #201F23;
        --sos-dark-surface-container-low: #1C1B1F;
        --sos-dark-surface-container-lowest: #0F0E11;
        --sos-dark-surface-bright: #3A383C;
        --sos-dark-surface-dim: #141316;

        /* t121 dark */
        --t121-dark-primary: #66DBB1;
        --t121-dark-on-primary: #003828;
        --t121-dark-primary-container: #00513C;
        --t121-dark-on-primary-container: #84F8CC;
        --t121-dark-primary-fixed: #84F8CC;
        --t121-dark-on-primary-fixed: #002116;
        --t121-dark-primary-fixed-dim: #66DBB1;
        --t121-dark-on-primary-fixed-variant: #00513C;
        --t121-dark-secondary: #B3CCBF;
        --t121-dark-on-secondary: #1E352C;
        --t121-dark-secondary-container: #354C42;
        --t121-dark-on-secondary-container: #CEE9DB;
        --t121-dark-secondary-fixed: #CEE9DB;
        --t121-dark-on-secondary-fixed: #082017;
        --t121-dark-secondary-fixed-dim: #B3CCBF;
        --t121-dark-on-secondary-fixed-variant: #354C42;
        --t121-dark-tertiary: #A6CCE0;
        --t121-dark-on-tertiary: #0A3445;
        --t121-dark-tertiary-container: #264B5C;
        --t121-dark-on-tertiary-container: #C2E8FD;
        --t121-dark-tertiary-fixed: #C2E8FD;
        --t121-dark-on-tertiary-fixed: #001F2A;
        --t121-dark-tertiary-fixed-dim: #A6CCE0;
        --t121-dark-on-tertiary-fixed-variant: #264B5C;
        --t121-dark-error: #FFB4AB;
        --t121-dark-on-error: #690005;
        --t121-dark-error-container: #93000A;
        --t121-dark-on-error-container: #FFDAD6;
        --t121-dark-outline: #89938D;
        --t121-dark-background: #191C1A;
        --t121-dark-on-background: #E1E3E0;
        --t121-dark-surface: #111412;
        --t121-dark-on-surface: #C5C7C4;
        --t121-dark-surface-variant: #404944;
        --t121-dark-on-surface-variant: #BFC9C2;
        --t121-dark-inverse-surface: #E1E3E0;
        --t121-dark-inverse-on-surface: #191C1A;
        --t121-dark-inverse-primary: #006C50;
        --t121-dark-shadow: #000000;
        --t121-dark-surface-tint: #66DBB1;
        --t121-dark-outline-variant: #404944;
        --t121-dark-scrim: #000000;
        --t121-dark-surface-container-highest: #323633;
        --t121-dark-surface-container-high: #272B29;
        --t121-dark-surface-container: #1D201E;
        --t121-dark-surface-container-low: #191C1A;
        --t121-dark-surface-container-lowest: #0C0F0D;
        --t121-dark-surface-bright: #373A38;
        --t121-dark-surface-dim: #111412;

        /* rhds dark */
        --rhds-dark-primary: #7DD0FF;
        --rhds-dark-on-primary: #00344A;
        --rhds-dark-primary-container: #004C69;
        --rhds-dark-on-primary-container: #C4E7FF;
        --rhds-dark-primary-fixed: #C4E7FF;
        --rhds-dark-on-primary-fixed: #001E2C;
        --rhds-dark-primary-fixed-dim: #7DD0FF;
        --rhds-dark-on-primary-fixed-variant: #004C69;
        --rhds-dark-secondary: #B5C9D7;
        --rhds-dark-on-secondary: #20333E;
        --rhds-dark-secondary-container: #374955;
        --rhds-dark-on-secondary-container: #D1E5F4;
        --rhds-dark-secondary-fixed: #D1E5F4;
        --rhds-dark-on-secondary-fixed: #0A1E28;
        --rhds-dark-secondary-fixed-dim: #B5C9D7;
        --rhds-dark-on-secondary-fixed-variant: #374955;
        --rhds-dark-tertiary: #CAC1E9;
        --rhds-dark-on-tertiary: #322C4C;
        --rhds-dark-tertiary-container: #494264;
        --rhds-dark-on-tertiary-container: #E7DEFF;
        --rhds-dark-tertiary-fixed: #E7DEFF;
        --rhds-dark-on-tertiary-fixed: #1D1736;
        --rhds-dark-tertiary-fixed-dim: #CAC1E9;
        --rhds-dark-on-tertiary-fixed-variant: #494264;
        --rhds-dark-error: #FFB4AB;
        --rhds-dark-on-error: #690005;
        --rhds-dark-error-container: #93000A;
        --rhds-dark-on-error-container: #FFDAD6;
        --rhds-dark-outline: #8B9297;
        --rhds-dark-background: #191C1E;
        --rhds-dark-on-background: #E1E2E5;
        --rhds-dark-surface: #111416;
        --rhds-dark-on-surface: #C5C6C9;
        --rhds-dark-surface-variant: #41484D;
        --rhds-dark-on-surface-variant: #C0C7CD;
        --rhds-dark-inverse-surface: #E1E2E5;
        --rhds-dark-inverse-on-surface: #191C1E;
        --rhds-dark-inverse-primary: #00658B;
        --rhds-dark-shadow: #000000;
        --rhds-dark-surface-tint: #7DD0FF;
        --rhds-dark-outline-variant: #41484D;
        --rhds-dark-scrim: #000000;
        --rhds-dark-surface-container-highest: #333537;
        --rhds-dark-surface-container-high: #282A2C;
        --rhds-dark-surface-container: #1D2022;
        --rhds-dark-surface-container-low: #191C1E;
        --rhds-dark-surface-container-lowest: #0C0F10;
        --rhds-dark-surface-bright: #37393C;
        --rhds-dark-surface-dim: #111416;

        /* rhjo dark */
        --rhjo-dark-primary: #FFB2B6;
        --rhjo-dark-on-primary: #67001A;
        --rhjo-dark-primary-container: #8F0C2B;
        --rhjo-dark-on-primary-container: #FFDADA;
        --rhjo-dark-primary-fixed: #FFDADA;
        --rhjo-dark-on-primary-fixed: #40000D;
        --rhjo-dark-primary-fixed-dim: #FFB2B6;
        --rhjo-dark-on-primary-fixed-variant: #8F0C2B;
        --rhjo-dark-secondary: #E6BDBE;
        --rhjo-dark-on-secondary: #44292B;
        --rhjo-dark-secondary-container: #5D3F40;
        --rhjo-dark-on-secondary-container: #FFDADA;
        --rhjo-dark-secondary-fixed: #FFDADA;
        --rhjo-dark-on-secondary-fixed: #2C1516;
        --rhjo-dark-secondary-fixed-dim: #E6BDBE;
        --rhjo-dark-on-secondary-fixed-variant: #5D3F40;
        --rhjo-dark-tertiary: #E7C08E;
        --rhjo-dark-on-tertiary: #432C06;
        --rhjo-dark-tertiary-container: #5C421A;
        --rhjo-dark-on-tertiary-container: #FFDDB3;
        --rhjo-dark-tertiary-fixed: #FFDDB3;
        --rhjo-dark-on-tertiary-fixed: #291800;
        --rhjo-dark-tertiary-fixed-dim: #E7C08E;
        --rhjo-dark-on-tertiary-fixed-variant: #5C421A;
        --rhjo-dark-error: #FFB4AB;
        --rhjo-dark-on-error: #690005;
        --rhjo-dark-error-container: #93000A;
        --rhjo-dark-on-error-container: #FFDAD6;
        --rhjo-dark-outline: #9F8C8C;
        --rhjo-dark-background: #201A1A;
        --rhjo-dark-on-background: #ECE0DF;
        --rhjo-dark-surface: #181212;
        --rhjo-dark-on-surface: #D0C4C3;
        --rhjo-dark-surface-variant: #524343;
        --rhjo-dark-on-surface-variant: #D7C1C2;
        --rhjo-dark-inverse-surface: #ECE0DF;
        --rhjo-dark-inverse-on-surface: #201A1A;
        --rhjo-dark-inverse-primary: #B02A40;
        --rhjo-dark-shadow: #000000;
        --rhjo-dark-surface-tint: #FFB2B6;
        --rhjo-dark-outline-variant: #524343;
        --rhjo-dark-scrim: #000000;
        --rhjo-dark-surface-container-highest: #3A3333;
        --rhjo-dark-surface-container-high: #2F2828;
        --rhjo-dark-surface-container: #241E1E;
        --rhjo-dark-surface-container-low: #201A1A;
        --rhjo-dark-surface-container-lowest: #120D0D;
        --rhjo-dark-surface-bright: #3F3737;
        --rhjo-dark-surface-dim: #181212;
    }
}

:root {
  /* Base font size */
  --base-font-size: 16px;
  
  /* Define font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

    /* Display */
  --display-xxx-large: clamp(3.55rem, 7vw, 4.75rem); /* 64px to 76px */
  --display-xx-large: clamp(3.5rem, 6.5vw, 4.25rem); /* 56px to 68px */
  --display-x-large: clamp(3rem, 6vw, 4rem); /* 48px to 64px */
  --display-large: clamp(2.5rem, 5.5vw, 3.75rem); /* 40px to 60px */
  --display-medium: clamp(2rem, 4.5vw, 3rem); /* 32px to 48px */
  --display-small: clamp(1.75rem, 3.5vw, 2.5rem); /* 28px to 40px */
  
  /* Headline */
  --headline-large: clamp(1.75rem, 3.5vw, 2.25rem); /* 28px to 36px */
  --headline-medium: clamp(1.5rem, 3.25vw, 2rem); /* 24px to 32px */
  --headline-small: clamp(1.375rem, 3vw, 1.75rem); /* 22px to 28px */


  /* Sub-Headline */
  --sub-headline-large: clamp(1.375rem, 2.5vw, 1.7rem); /* 20px to 28px */
  --sub-headline-medium: clamp(1.25rem, 2.25vw, 1.5rem); /* 18px to 24px */
  --sub-headline-small: clamp(1.25rem, 2vw, 1.25rem); /* 16px to 20px */

  /* Title */
  --title-large: clamp(0.875rem, 2.2vw, 1.375rem); /* 14px to 22px */
  --title-medium: clamp(0.75rem, 2vw, 1rem); /* 12px to 16px */
  --title-small: clamp(0.6875rem, 1.75vw, 0.875rem); /* 11px to 14px */

  /* Body */
  --body-large: 1rem; /* 16px */
  --body-medium: 0.875rem; /* 14px */
  --body-small: 0.75rem; /* 12px */

  /* Label */
  --label-extra-large: clamp(1rem, 2.5vw, 1.25rem); /* 16px */
  --label-large-prominent: 0.875rem; /* 14px */
  --label-large: 0.875rem; /* 14px */
  --label-medium-prominent: 0.75rem; /* 12px */
  --label-medium: 0.75rem; /* 12px */
  --label-small: 0.6875rem; /* 11px */
}

.display.xxx-large {
  font-size: var(--display-xxx-large);
  line-height: 1.1;
  font-weight: var(--font-weight-bold);
}

.display.xx-large {
  font-size: var(--display-xx-large);
  line-height: 1.1;
  font-weight: var(--font-weight-bold);
}

.display.x-large {
  font-size: var(--display-x-large);
  line-height: 1.1;
  font-weight: var(--font-weight-bold);
}

.display.large {
  font-size: var(--display-large);
  line-height: 1.1;
  font-weight: var(--font-weight-semi-bold);
}

.display.medium {
  font-size: var(--display-medium);
  line-height: 1.1;
  font-weight: var(--font-weight-semi-bold);
}

.display.small {
  font-size: var(--display-small);
  line-height: 1.2;
  font-weight: var(--font-weight-semi-bold);
}

.headline.large {
  font-size: var(--headline-large);
  line-height: 1.25;
  font-weight: var(--font-weight-medium);
}

.headline.medium {
  font-size: var(--headline-medium);
  line-height: 1.25;
  font-weight: var(--font-weight-medium);
}

.headline.small {
  font-size: var(--headline-small);
  line-height: 1.3;
  font-weight: var(--font-weight-medium);
}

.sub-headline.large {
  font-size: var(--sub-headline-large);
  line-height: 1.4;
  font-weight: var(--font-weight-regular);
}

.sub-headline.medium {
  font-size: var(--sub-headline-medium);
  line-height: 1.45;
  font-weight: var(--font-weight-regular);
}

.sub-headline.small {
  font-size: var(--sub-headline-small);
  line-height: 1.375;
  font-weight: var(--font-weight-regular);
}

.title.large {
  font-size: var(--title-large);
  line-height: 1.3;
  font-weight: var(--font-weight-medium);
}

.title.medium {
  font-size: var(--title-medium);
  line-height: 1.5;
  font-weight: var(--font-weight-medium);
}

.title.small {
  font-size: var(--title-small);
  line-height: 1.4;
  font-weight: var(--font-weight-medium);
}

.body.large {
  font-size: var(--body-large);
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
}

.body.medium {
  font-size: var(--body-medium);
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
}

.body.small {
  font-size: var(--body-small);
  line-height: 1.4;
  font-weight: var(--font-weight-regular);
}

.label.x-large {
  font-size: var(--label-extra-large);
  line-height: 1.4; 
  font-weight: var(--font-weight-semi-bold);
}

.label.large {
  font-size: var(--label-large);
  line-height: 1.4;
  font-weight: var(--font-weight-bold);
}

.label.medium {
  font-size: var(--label-medium);
  line-height: 1.4;
  font-weight: var(--font-weight-bold);
}

.label.small {
  font-size: var(--label-small);
  line-height: 1.4;
  font-weight: var(--font-weight-bold);
}

.w-tab-link.w--current {
    background-color: transparent !important;
}

/* material symbols */

.material-symbols-rounded {
    font-variation-settings:
        'FILL'0,
        'wght'300,
        'GRAD'0,
        'opsz'20
}

/* Initially hide main content */
#main-content {
    visibility: hidden;
}

.hero-header {
    pointer-events: none; 
}

/*blurHash fade in*/

img {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

img.loaded {
    opacity: 1;
}

/* loader styling */

.rainbow-wave-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
}

.rainbow-wave-loader div {
    width: 4px;
    height: 40px;
    margin: 0 2px;
    background-color: #BCC2FF;
    animation: wave 2s infinite ease-in-out;
    opacity: 0.4;
    will-change: transform, opacity; /* Optimized for animation */
    border-radius: 10px; /* Reduced for testing */
    transform: scaleY(0.5) translateZ(0); /* Added translateZ(0) for hardware acceleration */
}


.highlight {
    background-color: #DFE0FF; /* Highlight color */
}


.rainbow-wave-loader div:nth-child(2) { animation-delay: -1.8s; }
.rainbow-wave-loader div:nth-child(3) { animation-delay: -1.6s; }
.rainbow-wave-loader div:nth-child(4) { animation-delay: -1.4s; }
.rainbow-wave-loader div:nth-child(5) { animation-delay: -1.2s; }
.rainbow-wave-loader div:nth-child(6) { animation-delay: -1.0s; }
.rainbow-wave-loader div:nth-child(7) { animation-delay: -0.8s; }
.rainbow-wave-loader div:nth-child(8) { animation-delay: -0.6s; }
.rainbow-wave-loader div:nth-child(9) { animation-delay: -0.4s; }
.rainbow-wave-loader div:nth-child(10) { animation-delay: -0.2s; }

/*@keyframes wave {
    0%, 100% {
        transform: scaleY(0.5);
        opacity: 0.4;
    }
    50% {
        transform: scaleY(1.2);
        opacity: 1;
    }
}*/

@keyframes wave {
    0%, 100% {
        transform: scaleY(0.6) translateZ(0); /* Less extreme scaling */
        opacity: 0.6;
    }
    50% {
        transform: scaleY(0.9) translateZ(0);
        opacity: 0.9;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('https://uploads-ssl.webflow.com/64ed0eda554985509ce79cce/655c39f1d1f5d14e8fae8258_hero%20blur.webp') no-repeat center center;
    background-size: cover; /* Ensures that the background covers the entire area */
    z-index: 1000; /* Make sure this is above everything else */
}

/* fade-out effect on loader*/

.fade-out {
    animation: fadeOut 2s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* button ripple effect */

@keyframes ripple-fade-away {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    /*background: rgba(0, 0, 0, 0.12);*/
    transform: scale(0);
    opacity: 0;
}

.ripple.active {
    animation: ripple-fade-away 0.6s ease-out;
    opacity: 1;
}

/* scroll to change radius of an element */


.changing-radius {
    transition: border-radius 0.6s ease-out;
}

/* element fade-in effect on scroll */

.fade-effect {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity .3s linear, transform 1s cubic-bezier(0.26, 0.67, 0.48, 0.91);
}

/* chip dropdown/tabs */

.tabs-menu-bg-mobile-dropdown {
    pointer-events: none !important;
}

.chip-trailing-icon.filter-dropdown.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/*hide and show before/after static images*/

.splitter-container.hidden {
    display: none !important;
}

.static-before-after.visible {
    display: flex !important;
}

/* unselected switch */

/* visible/hiddens items on unselected switch enabled */

.switch.unselected .handle.enabled.unselected,
.switch.unselected .switch-track-bg.unselected {
    visibility: visible;
    opacity: 100%;
}

.switch.unselected .handle.hover-focused-pressed.unselected,
.switch.unselected .state-layer.for-switch.hover.unselected,
.switch.unselected .state-layer.for-switch.focused-pressed.unselected {
    visibility: visible;
    opacity: 0%;
}

/* visible/hidden items on unselected switch hover */

.switch.unselected:hover .handle.hover-focused-pressed.unselected,
.switch.unselected:hover .state-layer.for-switch.hover.unselected {
    opacity: 100%;
}

.switch.unselected:hover .handle.enabled.unselected {
    opacity: 0%;
}

/* visible/hidden items on unselected switch active */

.switch.unselected:active .handle.hover-focused-pressed.unselected,
.switch.unselected:active .state-layer.for-switch.focused-pressed.unselected {
    opacity: 100%;
}

.switch.unselected:active .handle.enabled.unselected {
    opacity: 0%;
}

/* active transforms */

.switch.unselected:active .handle.hover-focused-pressed.unselected {
    height: 28.75px !important;
    width: 28.75px !important;
}

/* hidden items on all unselected switch states */

.switch.unselected .handle.enabled.selected,
.switch.unselected .handle.hover-focused-pressed.selected,
.switch.unselected .state-layer.for-switch.hover.selected,
.switch.unselected .state-layer.for-switch.focused-pressed.selected,
.switch.unselected .switch-track-bg.selected {
    visibility: hidden;
    opacity: 0% !important;
}

/* selected switch */

.switch.selected .handle-container {
    transform: translateX(22px);
}

.switch.selected .handle.enabled.selected,
.switch.selected .handle.hover-focused-pressed.selected {
    height: 24px !important;
    width: 24px !important;
}

/* switch pointer and border */

.switch.selected {
    border: var(--sys--light--primary) !important;
}

/* visible/hiddens items on selected switch enabled */

.switch.selected .handle.enabled.selected,
.switch.selected .switch-track-bg.selected {
    visibility: visible;
    opacity: 100%;
}

.switch.selected .handle.hover-focused-pressed.selected,
.switch.selected .state-layer.for-switch.hover.selected,
.switch.selected .state-layer.for-switch.focused-pressed.selected {
    visibility: visible;
    opacity: 0%;
}

/* visible/hidden items on selected switch hover */

.switch.selected:hover .handle.hover-focused-pressed.selected,
.switch.selected:hover .state-layer.for-switch.hover.selected {
    opacity: 100%;
}

.switch.selected:hover .handle.enabled.selected {
    opacity: 0%;
}

/* visible/hidden items on selected switch active */

.switch.selected:active .handle.hover-focused-pressed.selected,
.switch.selected:active .state-layer.for-switch.focused-pressed.selected {
    opacity: 100%;
}

.switch.selected:active .handle.enabled.selected {
    opacity: 0%;
}

/* active transforms */

.switch.selected:active .handle.hover-focused-pressed.selected {
    height: 28px !important;
    width: 28px !important;
}

/* hidden items on all selected switch states */

.switch.selected .handle.enabled.unselected,
.switch.selected .handle.hover-focused-pressed.unselected,
.switch.selected .state-layer.for-switch.hover.unselected,
.switch.selected .state-layer.for-switch.focused-pressed.unselected,
.switch.selected .switch-track-bg.unselected {
    visibility: hidden;
    opacity: 0% !important;
}


/* unselected tab */

/* selected icon hidden */

.button-segment .icon-segmented-button.selected,
.tab-link .chip.outlined.tab .chip-selected-icon {
    visibility: hidden;
    opacity: 0%;
}

/* chip leading icon visible */

.tab-link .chip.outlined.tab .chip-leading-icon {
    visibility: visible;
    opacity: 100%;
}

/* selected bg hidden, selected label hidden */

.button-segment .state-layer.bg.selected,
.button-segment .segmented-label-text-div .label.large.selected,
.tab-link .chip.outlined.tab .state-layer.bg.selected,
.tab-link .chip.outlined.tab .chip-tab-label .label.large.selected,
.tab-link .menu-item .state-layer.bg.selected {
    visibility: hidden;
    opacity: 0%;
}

/* unselected label visible */

.button-segment .segmented-label-text-div .label.large.unselected,
.tab-link .chip.outlined.tab .chip-tab-label .label.large.unselected.on-surface-variant {
    opacity: 100%;
    visibility: visible;
}

/* selected state-layers hidden */

.button-segment .state-layer.selected,
.tab-link .chip.outlined.tab .state-layer.selected,
.tab-link .menu-item .state-layer.selected {
    /*display: none;*/
    visibility: hidden;
}

/* unselected state-layers visible */

.button-segment .state-layer.unselected,
.tab-link .chip.outlined.tab .state-layer.unselected,
.tab-link .menu-item .state-layer.unselected {
    /*display: block;*/
    visibility: visible;
}

/* selected current tab */

/* selected icon visible */

.button-segment.w--current .icon-segmented-button.selected,
.tab-link.w--current .chip.outlined.tab .chip-selected-icon {
    display: flex;
    visibility: visible;
    opacity: 100%;
}

/* chip leading icon hidden */

.tab-link.w--current .chip.outlined.tab .chip-leading-icon {
    visibility: hidden;
    opacity: 0%;
}

/* selected bg visible, selected label visible */

.button-segment.w--current .state-layer.bg.selected,
.button-segment.w--current .segmented-label-text-div .label.large.selected,
.tab-link.w--current .chip.outlined.tab .state-layer.bg.selected,
.tab-link.w--current .chip.outlined.tab .chip-tab-label .label.large.selected,
.tab-link.w--current .menu-item .state-layer.bg.selected {
    opacity: 100%;
    visibility: visible;
}

/* unselected label text hidden */

.button-segment.w--current .segmented-label-text-div .label.large.unselected,
.tab-link.w--current .chip.outlined.tab .chip-tab-label .label.large.unselected.on-surface,
.tab-link.w--current .chip.outlined.tab .chip-tab-label .label.large.unselected.on-surface-variant {
    opacity: 0%;
    visibility: hidden;
}

/* selected state-layers visible */

.button-segment.w--current .state-layer.selected,
.tab-link.w--current .chip.outlined.tab .state-layer.selected,
.tab-link.w--current .menu-item .state-layer.selected {
    /*display: block;*/
    visibility: visible;
}

/* unselected state-layers hidden */

.button-segment.w--current .state-layer.unselected,
.tab-link.w--current .chip.outlined.tab .state-layer.unselected,
.tab-link.w--current .chip.outlined.tab .pseudo-border,
.tab-link.w--current .menu-item .state-layer.unselected {
    /*display: none;*/
    visibility: hidden;
}

.tab-link.w--current .chip.outlined.tab:hover {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}

.tab-link.w--current .chip.outlined.tab:active {
    box-shadow: none;
}
