
:root.dark {

    /* main dark */
    --main--dark--primary: #A3C9FF; 
    --main--dark--on-primary: #00315C;
    --main--dark--primary-container: #004882;
    --main--dark--on-primary-container: #D3E3FF;
    --main--dark--primary-fixed: #D3E3FF;
    --main--dark--on-primary-fixed: #001C39;
    --main--dark--primary-fixed-dim: #A3C9FF;
    --main--dark--on-primary-fixed-variant: #004882;
    --main--dark--secondary: #BCC7DB;
    --main--dark--on-secondary: #263141;
    --main--dark--secondary-container: #3C4758;
    --main--dark--on-secondary-container: #d8e3f8;
    --main--dark--secondary-fixed: #D8E3F8;
    --main--dark--on-secondary-fixed: #111C2B;
    --main--dark--secondary-fixed-dim: #BCC7DB;
    --main--dark--on-secondary-fixed-variant: #3C4758;
    --main--dark--tertiary: #D9BDE3;
    --main--dark--on-tertiary: #3C2947;
    --main--dark--tertiary-container: #543F5E;
    --main--dark--on-tertiary-container: #F5D9FF;
    --main--dark--tertiary-fixed: #F5D9FF;
    --main--dark--on-tertiary-fixed: #261430;
    --main--dark--tertiary-fixed-dim: #D9BDE3;
    --main--dark--on-tertiary-fixed-variant: #543F5E;
    --main--dark--error: #FFB4AB;
    --main--dark--on-error: #690005;
    --main--dark--error-container: #93000A;
    --main--dark--on-error-container: #FFDAD6;
    --main--dark--outline: #8D9199;
    --main--dark--background: #1A1C1E;
    --main--dark--on-background: #E3E2E6;
    --main--dark--surface: #121316;
    --main--dark--on-surface: #C6C6CA;
    --main--dark--surface-variant: #43474E;
    --main--dark--on-surface-variant: #c3c6cf;
    --main--dark--inverse-surface: #E3E2E6;
    --main--dark--inverse-on-surface: #1a1c1e;
    --main--dark--inverse-primary: #1760A5;
    --main--dark--shadow: #000000;
    --main--dark--surface-tint: #A3C9FF;
    --main--dark--outline-variant: #43474E;
    --main--dark--scrim: #000000;
    --main--dark--surface-container-highest: #333538;
    --main--dark--surface-container-high: #292A2D;
    --main--dark--surface-container: #1E2022;
    --main--dark--surface-container-low: #1A1C1E;
    --main--dark--surface-container-lowest: #0D0E11;
    --main--dark--surface-bright: #38393C;
    --main--dark--surface-dim: #121316;

    /* main state layers */
    --main--dark--primary-hover: rgba(163, 201, 255, .08);
    --main--dark--primary-focused-pressed: rgba(163, 201, 255, .1);
    --main--dark--primary-drag: rgba(163, 201, 255, .16);

    --main--dark--on-primary-hover: rgba(0, 49, 92, .08);
    --main--dark--on-primary-focused-pressed: rgba(0, 49, 92, .1);
    --main--dark--on-primary-drag: rgba(0, 49, 92, .16);

    --main--dark--on-secondary-container-hover: rgba(216, 227, 248, .08);
    --main--dark--on-secondary-container-focused-pressed: rgba(216, 227, 248, .1);
    --main--dark--on-secondary-container-drag: rgba(216, 227, 248, .16);

    --main--dark--on-secondary-fixed-variant-hover: rgba(60, 71, 88, .08);
    --main--dark--on-secondary-fixed-variant-focused-pressed: rgba(60, 71, 88, .1);
    --main--dark--on-secondary-fixed-variant-drag: rgba(60, 71, 88, .16);

    --main--dark--on-tertiary-container-hover: rgba(245, 217, 255, .08);
    --main--dark--on-tertiary-container-focused-pressed: rgba(245, 217, 255, .1);
    --main--dark--on-tertiary-container-drag: rgba(245, 217, 255, .16);

    --main--dark--on-surface-hover: rgba(198, 198, 202, .08);
    --main--dark--on-surface-focused-pressed: rgba(198, 198, 202, .1);
    --main--dark--on-surface-drag: rgba(198, 198, 202, .16);

    --main--dark--on-surface-variant-hover: rgba(195, 198, 207, .08);
    --main--dark--on-surface-variant-focused-pressed: rgba(195, 198, 207, .1);
    --main--dark--on-surface-variant-drag: rgba(195, 198, 207, .16);

    --main--dark--inverse-on-surface-hover: rgba(26, 28, 30, .08);
    --main--dark--inverse-on-surface-focused-pressed: rgba(26, 28, 30, .1);
    --main--dark--inverse-on-surface-drag: rgba(26, 28, 30, .16);

    /* sos dark */
    --sos--dark--primary: #c9beff;
    --sos--dark--on-primary: #30009b;
    --sos--dark--primary-container: #4602D7;
    --sos--dark--on-primary-container: #E6DEFF;
    --sos--dark--primary-fixed: #E6DEFF;
    --sos--dark--on-primary-fixed: #1B0063;
    --sos--dark--primary-fixed-dim: #C9BEFF;
    --sos--dark--on-primary-fixed-variant: #4602D7;
    --sos--dark--secondary: #C9C3DC;
    --sos--dark--on-secondary: #312E41;
    --sos--dark--secondary-container: #484459;
    --sos--dark--on-secondary-container: #e6dff9;
    --sos--dark--secondary-fixed: #E6DFF9;
    --sos--dark--on-secondary-fixed: #1C192B;
    --sos--dark--secondary-fixed-dim: #C9C3DC;
    --sos--dark--on-secondary-fixed-variant: #484459;
    --sos--dark--tertiary: #EDB8CD;
    --sos--dark--on-tertiary: #482535;
    --sos--dark--tertiary-container: #623B4C;
    --sos--dark--on-tertiary-container: #ffd8e6;
    --sos--dark--tertiary-fixed: #FFD8E6;
    --sos--dark--on-tertiary-fixed: #301120;
    --sos--dark--tertiary-fixed-dim: #EDB8CD;
    --sos--dark--on-tertiary-fixed-variant: #623B4C;
    --sos--dark--error: #FFB4AB;
    --sos--dark--on-error: #690005;
    --sos--dark--error-container: #93000A;
    --sos--dark--on-error-container: #FFDAD6;
    --sos--dark--outline: #938F99;
    --sos--dark--background: #1C1B1F;
    --sos--dark--on-background: #E5E1E6;
    --sos--dark--surface: #141316;
    --sos--dark--on-surface: #c9c5ca;
    --sos--dark--surface-variant: #48454e;
    --sos--dark--on-surface-variant: #c9c5d0;
    --sos--dark--inverse-surface: #E5E1E6;
    --sos--dark--inverse-on-surface: #1c1b1f;
    --sos--dark--inverse-primary: #5E37EE;
    --sos--dark--shadow: #000000;
    --sos--dark--surface-tint: #C9BEFF;
    --sos--dark--outline-variant: #48454E;
    --sos--dark--scrim: #000000;
    --sos--dark--surface-container-highest: #363438;
    --sos--dark--surface-container-high: #2B292D;
    --sos--dark--surface-container: #201F23;
    --sos--dark--surface-container-low: #1C1B1F;
    --sos--dark--surface-container-lowest: #0F0E11;
    --sos--dark--surface-bright: #3A383C;
    --sos--dark--surface-dim: #141316;

    /* sos state layers */
    --sos--dark--primary-hover: rgba(201, 190, 255, .08);
    --sos--dark--primary-focused-pressed: rgba(201, 190, 255, .1);
    --sos--dark--primary-drag: rgba(201, 190, 255, .16);

    --sos--dark--on-primary-hover: rgba(48, 0, 155, .08);
    --sos--dark--on-primary-focused-pressed: rgba(48, 0, 155, .1);
    --sos--dark--on-primary-drag: rgba(48, 0, 155, .16);

    --sos--dark--on-secondary-container-hover: rgba(230, 223, 249, .08);
    --sos--dark--on-secondary-container-focused-pressed: rgba(230, 223, 249, .1);
    --sos--dark--on-secondary-container-drag: rgba(230, 223, 249, .16);

    --sos--dark--on-secondary-fixed-variant-hover: rgba(72, 68, 89, .08);
    --sos--dark--on-secondary-fixed-variant-focused-pressed: rgba(72, 68, 89, .1);
    --sos--dark--on-secondary-fixed-variant-drag: rgba(72, 68, 89, .16);

    --sos--dark--on-tertiary-container-hover: rgba(255, 216, 230, .08);
    --sos--dark--on-tertiary-container-focused-pressed: rgba(255, 216, 230, .1);
    --sos--dark--on-tertiary-container-drag: rgba(255, 216, 230, .16);

    --sos--dark--on-surface-hover: rgba(201, 197, 202, .08);
    --sos--dark--on-surface-focused-pressed: rgba(201, 197, 202, .1);
    --sos--dark--on-surface-drag: rgba(201, 197, 202, .16);

    --sos--dark--on-surface-variant-hover: rgba(201, 197, 208, .08);
    --sos--dark--on-surface-variant-focused-pressed: rgba(201, 197, 208, .1);
    --sos--dark--on-surface-variant-drag: rgba(201, 197, 208, .16);
    
    --sos--dark--inverse-on-surface-hover: rgba(28, 27, 31, .08);
    --sos--dark--inverse-on-surface-focused-pressed: rgba(28, 27, 31, .1);
    --sos--dark--inverse-on-surface-drag: rgba(28, 27, 31, .16);

    /* t121 dark */
    --t121--dark--primary: #66dbb1;
    --t121--dark--on-primary: #003828;
    --t121--dark--primary-container: #00513C;
    --t121--dark--on-primary-container: #84F8CC;
    --t121--dark--primary-fixed: #84F8CC;
    --t121--dark--on-primary-fixed: #002116;
    --t121--dark--primary-fixed-dim: #66DBB1;
    --t121--dark--on-primary-fixed-variant: #00513C;
    --t121--dark--secondary: #B3CCBF;
    --t121--dark--on-secondary: #1E352C;
    --t121--dark--secondary-container: #354c42;
    --t121--dark--on-secondary-container: #cee9db;
    --t121--dark--secondary-fixed: #CEE9DB;
    --t121--dark--on-secondary-fixed: #082017;
    --t121--dark--secondary-fixed-dim: #B3CCBF;
    --t121--dark--on-secondary-fixed-variant: #354c42;
    --t121--dark--tertiary: #A6CCE0;
    --t121--dark--on-tertiary: #0A3445;
    --t121--dark--tertiary-container: #264B5C;
    --t121--dark--on-tertiary-container: rgb(194, 232, 253);
    --t121--dark--tertiary-fixed: #C2E8FD;
    --t121--dark--on-tertiary-fixed: #001F2A;
    --t121--dark--tertiary-fixed-dim: #A6CCE0;
    --t121--dark--on-tertiary-fixed-variant: #264B5C;
    --t121--dark--error: #FFB4AB;
    --t121--dark--on-error: #690005;
    --t121--dark--error-container: #93000A;
    --t121--dark--on-error-container: #FFDAD6;
    --t121--dark--outline: #89938D;
    --t121--dark--background: #191C1A;
    --t121--dark--on-background: #E1E3E0;
    --t121--dark--surface: #111412;
    --t121--dark--on-surface: #c5c7c4;
    --t121--dark--surface-variant: #404944;
    --t121--dark--on-surface-variant: #bfc9c2;
    --t121--dark--inverse-surface: #E1E3E0;
    --t121--dark--inverse-on-surface: #191c1a;
    --t121--dark--inverse-primary: #006C50;
    --t121--dark--shadow: #000000;
    --t121--dark--surface-tint: #66DBB1;
    --t121--dark--outline-variant: #404944;
    --t121--dark--scrim: #000000;
    --t121--dark--surface-container-highest: #323633;
    --t121--dark--surface-container-high: #272B29;
    --t121--dark--surface-container: #1D201E;
    --t121--dark--surface-container-low: #191C1A;
    --t121--dark--surface-container-lowest: #0C0F0D;
    --t121--dark--surface-bright: #373A38;
    --t121--dark--surface-dim: #111412;

    /* t121 state layers */
    --t121--dark--primary-hover: rgba(102, 219, 177, .08);
    --t121--dark--primary-focused-pressed: rgba(102, 219, 177, .1);
    --t121--dark--primary-drag: rgba(102, 219, 177, .16);

    --t121--dark--on-primary-hover: rgba(0, 56, 40, .08);
    --t121--dark--on-primary-focused-pressed: rgba(0, 56, 40, .1);
    --t121--dark--on-primary-drag: rgba(0, 56, 40, .16);

    --t121--dark--on-secondary-container-hover: rgba(206, 233, 219, .08);
    --t121--dark--on-secondary-container-focused-pressed: rgba(206, 233, 219, .1);
    --t121--dark--on-secondary-container-drag: rgba(206, 233, 219, .16);

    --t121--dark--on-secondary-fixed-variant-hover: rgba(53, 76, 66, .08);
    --t121--dark--on-secondary-fixed-variant-focused-pressed: rgba(53, 76, 66, .1);
    --t121--dark--on-secondary-fixed-variant-drag: rgba(53, 76, 66, .16);

    --t121--dark--on-tertiary-container-hover: rgba(194, 232, 253, .08);
    --t121--dark--on-tertiary-container-focused-pressed: rgba(194, 232, 253, .1);
    --t121--dark--on-tertiary-container-drag: rgba(194, 232, 253, .16);

    --t121--dark--on-surface-hover: rgba(197, 199, 196, .08);
    --t121--dark--on-surface-focused-pressed: rgba(197, 199, 196, .1);
    --t121--dark--on-surface-drag: rgba(197, 199, 196, .16);

    --t121--dark--on-surface-variant-hover: rgba(191, 201, 194, .08);
    --t121--dark--on-surface-variant-focused-pressed: rgba(191, 201, 194, .1);
    --t121--dark--on-surface-variant-drag: rgba(191, 201, 194, .16);
    
    --t121--dark--inverse-on-surface-hover: rgba(25, 28, 26, .08);
    --t121--dark--inverse-on-surface-focused-pressed: rgba(25, 28, 26, .1);
    --t121--dark--inverse-on-surface-drag: rgba(25, 28, 26, .16);

    /* rhds dark */
    --rhds--dark--primary: #7dd0ff;
    --rhds--dark--on-primary: #00344a;
    --rhds--dark--primary-container: #004C69;
    --rhds--dark--on-primary-container: #C4E7FF;
    --rhds--dark--primary-fixed: #C4E7FF;
    --rhds--dark--on-primary-fixed: #001E2C;
    --rhds--dark--primary-fixed-dim: #7DD0FF;
    --rhds--dark--on-primary-fixed-variant: #004C69;
    --rhds--dark--secondary: #B5C9D7;
    --rhds--dark--on-secondary: #20333E;
    --rhds--dark--secondary-container: #374955;
    --rhds--dark--on-secondary-container: #d1e5f4;
    --rhds--dark--secondary-fixed: #D1E5F4;
    --rhds--dark--on-secondary-fixed: #0A1E28;
    --rhds--dark--secondary-fixed-dim: #B5C9D7;
    --rhds--dark--on-secondary-fixed-variant: #374955;
    --rhds--dark--tertiary: #CAC1E9;
    --rhds--dark--on-tertiary: #322C4C;
    --rhds--dark--tertiary-container: #494264;
    --rhds--dark--on-tertiary-container: #e7deff;
    --rhds--dark--tertiary-fixed: #E7DEFF;
    --rhds--dark--on-tertiary-fixed: #1D1736;
    --rhds--dark--tertiary-fixed-dim: #CAC1E9;
    --rhds--dark--on-tertiary-fixed-variant: #494264;
    --rhds--dark--error: #FFB4AB;
    --rhds--dark--on-error: #690005;
    --rhds--dark--error-container: #93000A;
    --rhds--dark--on-error-container: #FFDAD6;
    --rhds--dark--outline: #8B9297;
    --rhds--dark--background: #191C1E;
    --rhds--dark--on-background: #E1E2E5;
    --rhds--dark--surface: #111416;
    --rhds--dark--on-surface: #c5c6c9;
    --rhds--dark--surface-variant: #41484d;
    --rhds--dark--on-surface-variant: #c0c7cd;
    --rhds--dark--inverse-surface: #E1E2E5;
    --rhds--dark--inverse-on-surface: #191c1e;
    --rhds--dark--inverse-primary: #00658B;
    --rhds--dark--shadow: #000000;
    --rhds--dark--surface-tint: #7DD0FF;
    --rhds--dark--outline-variant: #41484D;
    --rhds--dark--scrim: #000000;
    --rhds--dark--surface-container-highest: #333537;
    --rhds--dark--surface-container-high: #282A2C;
    --rhds--dark--surface-container: #1D2022;
    --rhds--dark--surface-container-low: #191C1E;
    --rhds--dark--surface-container-lowest: #0C0F10;
    --rhds--dark--surface-bright: #37393C;
    --rhds--dark--surface-dim: #111416;

    /* rhds state layers */
    --rhds--dark--primary-hover: rgba(125, 208, 255, .08);
    --rhds--dark--primary-focused-pressed: rgba(125, 208, 255, .1);
    --rhds--dark--primary-drag: rgba(125, 208, 255, .16);

    --rhds--dark--on-primary-hover: rgba(0, 52, 74, .08);
    --rhds--dark--on-primary-focused-pressed: rgba(0, 52, 74, .1);
    --rhds--dark--on-primary-drag: rgba(0, 52, 74, .16);

    --rhds--dark--on-secondary-container-hover: rgba(209, 229, 244, .08);
    --rhds--dark--on-secondary-container-focused-pressed: rgba(209, 229, 244, .1);
    --rhds--dark--on-secondary-container-drag: rgba(209, 229, 244, .16);

    --rhds--dark--on-secondary-fixed-variant-hover: rgba(55, 73, 85, .08);
    --rhds--dark--on-secondary-fixed-variant-focused-pressed: rgba(55, 73, 85, .1);
    --rhds--dark--on-secondary-fixed-variant-drag: rgba(55, 73, 85, .16);

    --rhds--dark--on-tertiary-container-hover: rgba(231, 222, 255, .08);
    --rhds--dark--on-tertiary-container-focused-pressed: rgba(231, 222, 255, .1);
    --rhds--dark--on-tertiary-container-drag: rgba(231, 222, 255, .16);

    --rhds--dark--on-surface-hover: rgba(197, 198, 201, .08);
    --rhds--dark--on-surface-focused-pressed: rgba(197, 198, 201, .1);
    --rhds--dark--on-surface-drag: rgba(197, 198, 201, .16);

    --rhds--dark--on-surface-variant-hover: rgba(192, 199, 205, .08);
    --rhds--dark--on-surface-variant-focused-pressed: rgba(192, 199, 205, .1);
    --rhds--dark--on-surface-variant-drag: rgba(192, 199, 205, .16);
    
    --rhds--dark--inverse-on-surface-hover: rgba(25, 28, 30, .08);
    --rhds--dark--inverse-on-surface-focused-pressed: rgba(25, 28, 30, .1);
    --rhds--dark--inverse-on-surface-drag: rgba(25, 28, 30, .16);

    /* rhjo dark */
    --rhjo--dark--primary: #ffb2b6;
    --rhjo--dark--on-primary: #67001a;
    --rhjo--dark--primary-container: #8F0C2B;
    --rhjo--dark--on-primary-container: #FFDADA;
    --rhjo--dark--primary-fixed: #FFDADA;
    --rhjo--dark--on-primary-fixed: #40000D;
    --rhjo--dark--primary-fixed-dim: #FFB2B6;
    --rhjo--dark--on-primary-fixed-variant: #8F0C2B;
    --rhjo--dark--secondary: #E6BDBE;
    --rhjo--dark--on-secondary: #44292B;
    --rhjo--dark--secondary-container: #5D3F40;
    --rhjo--dark--on-secondary-container: #ffdada;
    --rhjo--dark--secondary-fixed: #FFDADA;
    --rhjo--dark--on-secondary-fixed: #2C1516;
    --rhjo--dark--secondary-fixed-dim: #E6BDBE;
    --rhjo--dark--on-secondary-fixed-variant: #5d3f40;
    --rhjo--dark--tertiary: #E7C08E;
    --rhjo--dark--on-tertiary: #432C06;
    --rhjo--dark--tertiary-container: #5c421a;
    --rhjo--dark--on-tertiary-container: #ffddb3;
    --rhjo--dark--tertiary-fixed: #FFDDB3;
    --rhjo--dark--on-tertiary-fixed: #291800;
    --rhjo--dark--tertiary-fixed-dim: #E7C08E;
    --rhjo--dark--on-tertiary-fixed-variant: #5C421A;
    --rhjo--dark--error: #FFB4AB;
    --rhjo--dark--on-error: #690005;
    --rhjo--dark--error-container: #93000A;
    --rhjo--dark--on-error-container: #FFDAD6;
    --rhjo--dark--outline: #9F8C8C;
    --rhjo--dark--background: #201A1A;
    --rhjo--dark--on-background: #ECE0DF;
    --rhjo--dark--surface: #181212;
    --rhjo--dark--on-surface: #d0c4c3;
    --rhjo--dark--surface-variant: #524343;
    --rhjo--dark--on-surface-variant: #d7c1c2;
    --rhjo--dark--inverse-surface: #ECE0DF;
    --rhjo--dark--inverse-on-surface: #201a1a;
    --rhjo--dark--inverse-primary: #B02A40;
    --rhjo--dark--shadow: #000000;
    --rhjo--dark--surface-tint: #FFB2B6;
    --rhjo--dark--outline-variant: #524343;
    --rhjo--dark--scrim: #000000;
    --rhjo--dark--surface-container-highest: #3A3333;
    --rhjo--dark--surface-container-high: #2F2828;
    --rhjo--dark--surface-container: #241E1E;
    --rhjo--dark--surface-container-low: #201A1A;
    --rhjo--dark--surface-container-lowest: #120D0D;
    --rhjo--dark--surface-bright: #3F3737;
    --rhjo--dark--surface-dim: #181212;

    /* rhjo state layers */
    --rhjo--dark--primary-hover: rgba(255, 178, 182, .08);
    --rhjo--dark--primary-focused-pressed: rgba(255, 178, 182, .1);
    --rhjo--dark--primary-drag: rgba(255, 178, 182, .16);

    --rhjo--dark--on-primary-hover: rgba(103, 0, 26, .08);
    --rhjo--dark--on-primary-focused-pressed: rgba(103, 0, 26, .1);
    --rhjo--dark--on-primary-drag: rgba(103, 0, 26, .16);

    --rhjo--dark--on-secondary-container-hover: rgba(255, 218, 218, .08);
    --rhjo--dark--on-secondary-container-focused-pressed: rgba(255, 218, 218, .1);
    --rhjo--dark--on-secondary-container-drag: rgba(255, 218, 218, .16);

    --rhjo--dark--on-secondary-fixed-variant-hover: rgba(93, 63, 64, .08);
    --rhjo--dark--on-secondary-fixed-variant-focused-pressed: rgba(93, 63, 64, .1);
    --rhjo--dark--on-secondary-fixed-variant-drag: rgba(93, 63, 64, .16);

    --rhjo--dark--on-tertiary-container-hover: rgba(255, 221, 179, .08);
    --rhjo--dark--on-tertiary-container-focused-pressed: rgba(255, 221, 179, .1);
    --rhjo--dark--on-tertiary-container-drag: rgba(255, 221, 179, .16);

    --rhjo--dark--on-surface-hover: rgba(208, 196, 195, .08);
    --rhjo--dark--on-surface-focused-pressed: rgba(208, 196, 195, .1);
    --rhjo--dark--on-surface-drag: rgba(208, 196, 195, .16);

    --rhjo--dark--on-surface-variant-hover: rgba(215, 193, 194, .08);
    --rhjo--dark--on-surface-variant-focused-pressed: rgba(215, 193, 194, .1);
    --rhjo--dark--on-surface-variant-drag: rgba(215, 193, 194, .16);
    
    --rhjo--dark--inverse-on-surface-hover: rgba(32, 26, 26, .08);
    --rhjo--dark--inverse-on-surface-focused-pressed: rgba(32, 26, 26, .1);
    --rhjo--dark--inverse-on-surface-drag: rgba(32, 26, 26, .16);
}

:root {
  /* Base font size */
  --base-font-size: 16px;
  
  /* Define font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

    /* Display */
  --display-xxx-large: clamp(3.55rem, 7vw, 4.75rem); /* 64px to 76px */
  --display-xx-large: clamp(3.5rem, 6.5vw, 4.25rem); /* 56px to 68px */
  --display-x-large: clamp(3rem, 6vw, 4rem); /* 48px to 64px */
  --display-large: clamp(2.5rem, 5.5vw, 3.75rem); /* 40px to 60px */
  --display-medium: clamp(2rem, 4.5vw, 3rem); /* 32px to 48px */
  --display-small: clamp(1.75rem, 3.5vw, 2.5rem); /* 28px to 40px */
  
  /* Headline */
  --headline-large: clamp(1.75rem, 3.5vw, 2.25rem); /* 28px to 36px */
  --headline-medium: clamp(1.5rem, 3.25vw, 2rem); /* 24px to 32px */
  --headline-small: clamp(1.375rem, 3vw, 1.75rem); /* 22px to 28px */


  /* Sub-Headline */
  --sub-headline-large: clamp(1.375rem, 2.5vw, 1.7rem); /* 20px to 28px */
  --sub-headline-medium: clamp(1.25rem, 2.25vw, 1.5rem); /* 18px to 24px */
  --sub-headline-small: clamp(1.25rem, 2vw, 1.25rem); /* 16px to 20px */

  /* Title */
  --title-large: clamp(18px, 2.2vw, 1.375rem); /* 14px to 22px */
  --title-medium: clamp(16px, 2vw, 1rem); /* 12px to 16px */
  --title-small: clamp(14px, 1.75vw, 0.875rem); /* 11px to 14px */

  /* Body */
  --body-large: 1rem; /* 16px */
  --body-medium: 0.875rem; /* 14px */
  --body-small: 0.75rem; /* 12px */

  /* Label */
  --label-extra-large: clamp(1rem, 2.5vw, 1.25rem); /* 16px */
  --label-large-prominent: 0.875rem; /* 14px */
  --label-large: 0.875rem; /* 14px */
  --label-medium-prominent: 0.75rem; /* 12px */
  --label-medium: 0.75rem; /* 12px */
  --label-small: 0.6875rem; /* 11px */
}

.display.xxx-large {
  font-size: var(--display-xxx-large);
  line-height: 1.1;
  font-weight: var(--font-weight-bold);
}

.display.xx-large {
  font-size: var(--display-xx-large);
  line-height: 1.1;
  font-weight: var(--font-weight-bold);
}

.display.x-large {
  font-size: var(--display-x-large);
  line-height: 1.1;
  font-weight: var(--font-weight-bold);
}

.display.large {
  font-size: var(--display-large);
  line-height: 1.1;
  font-weight: var(--font-weight-semi-bold);
}

.display.medium {
  font-size: var(--display-medium);
  line-height: 1.1;
  font-weight: var(--font-weight-semi-bold);
}

.display.small {
  font-size: var(--display-small);
  line-height: 1.2;
  font-weight: var(--font-weight-semi-bold);
}

.headline.large {
  font-size: var(--headline-large);
  line-height: 1.25;
  font-weight: var(--font-weight-medium);
}

.headline.medium {
  font-size: var(--headline-medium);
  line-height: 1.25;
  font-weight: var(--font-weight-medium);
}

.headline.small {
  font-size: var(--headline-small);
  line-height: 1.3;
  font-weight: var(--font-weight-medium);
}

.sub-headline.large {
  font-size: var(--sub-headline-large);
  line-height: 1.4;
  font-weight: var(--font-weight-regular);
}

.sub-headline.medium {
  font-size: var(--sub-headline-medium);
  line-height: 1.45;
  font-weight: var(--font-weight-regular);
}

.sub-headline.small {
  font-size: var(--sub-headline-small);
  line-height: 1.375;
  font-weight: var(--font-weight-regular);
}

.title.large {
  font-size: var(--title-large);
  line-height: 1.3;
  font-weight: var(--font-weight-medium);
}

.title.medium {
  font-size: var(--title-medium);
  line-height: 1.5;
  font-weight: var(--font-weight-medium);
}

.title.small {
  font-size: var(--title-small);
  line-height: 1.4;
  font-weight: var(--font-weight-medium);
}

.body.large {
  font-size: var(--body-large);
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
}

.body.medium {
  font-size: var(--body-medium);
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
}

.body.small {
  font-size: var(--body-small);
  line-height: 1.4;
  font-weight: var(--font-weight-regular);
}

.label.x-large {
  font-size: var(--label-extra-large);
  line-height: 1.4; 
  font-weight: var(--font-weight-medium);
}

.label.large {
  font-size: var(--label-large);
  line-height: 1.4;
  font-weight: var(--font-weight-medium);
}

.label.medium {
  font-size: var(--label-medium);
  line-height: 1.4;
  font-weight: var(--font-weight-medium);
}

.label.small {
  font-size: var(--label-small);
  line-height: 1.4;
  font-weight: var(--font-weight-medium);
}

.w-tab-link.w--current {
    background-color: transparent !important;
}

/* material symbols */

.material-symbols-rounded {
    font-variation-settings:
        'FILL'0,
        'wght'300,
        'GRAD'0,
        'opsz'20
}

/* Initially hide main content */
#main-content {
    visibility: hidden;
}

/* Initial styles for .timeline-scale-effect elements */
.timeline-scale-effect {
    opacity: 0; 
    transform: scale3d(0, 1, 1);
    transition: opacity .3s cubic-bezier(.77, 0, .175, 1), transform .3s cubic-bezier(.785, .135, .15, .86);
    will-change: transform;
    transform-style: preserve-3d;
}

/* Initial styles for direct children of .timeline-scale-effect */
.timeline-scale-effect > * {
    opacity: 0;
    transform: translate3d(0px, 12px, 0px);
    transition: opacity .5s cubic-bezier(.77, 0, .175, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
    will-change: transform;
    transform-style: preserve-3d;
}

.nav-drawer.open {
  left: 88px;
}

.nav-drawer-segments.shadow-delayed {
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}

.opacity-fade-effect {
  transition: opacity 0.9s cubic-bezier(0.26, 0.67, 0.48, 0.91);
}

.fade-effect-x {
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.6s cubic-bezier(0.26, 0.67, 0.48, 0.91);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.outside-frame {
  pointer-events: none;
}


/* FullPage.js Navigation Dots - Initially Positioned Off-Screen */
#fp-nav.fp-left {
    visibility: hidden;
    left: -50px; /* Start off-screen */
    margin-top: -20px;
    transform: translateX(-120%) translateY(-50%);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out, left 0.4s ease-out; /* Include transition for 'left' */
    opacity: 0;
    pointer-events: none; /* Prevent interaction while hidden */
}

@media (min-width: 992px) {

    /* Adjust for visibility and position from the second section onwards */
    #fp-nav.fp-left.show-nav {
        display: block; /* Ensure it's displayed */
        visibility: visible;
        opacity: 1;
        left: 112px !important; /* Slide to the final position */
        transform: translateX(0) translateY(-50%);
        pointer-events: auto; /* Enable interaction */
    }

    /* Style for the navigation dots */
    #fp-nav ul li, .fp-slidesNav ul li {
        width: 32px;
        height: 24px;
        margin: 0;
    }

    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        background: var(--secondary-fixed-dim);
        transition: all 0.2s ease-out;
    }

    #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
        background: var(--secondary);
        transition: all 0.2s ease-out;
    }

    #fp-nav ul li:first-child {
        display: none;
    }

}


@media (max-width: 767px) {
  .fullpage-section {
    height: calc(100vh - 16px);
  }
}

.navbar-mobile {
  transform: translateY(0); /* Initially, the navbar is in view */
  opacity: 1; /* Fully visible initially */
}

.navbar-mobile.hidden {
  transform: translateY(-100px); /* Slide out of view */
  opacity: 0; /* Fully transparent when hidden */
}

.flex-container.hero {
	pointer-events: none;
}

.nav-rail-segment .state-layer.default, .nav-rail-segment .label.small.for-nav.default, .nav-rail-segment .nav-rail-segment-icon.default, .nav-drawer-segment .state-layer.default, .nav-drawer-segment .label.large.for-nav.default {
    visibility: visible;
}

.nav-rail-segment .state-layer.current, .nav-rail-segment .label.small.for-nav.current, .nav-rail-segment .nav-rail-segment-icon.current, .nav-rail-segment .bg-current-nav-segment, .nav-drawer-segment .state-layer.current, .nav-drawer-segment .label.large.for-nav.current, .nav-drawer-segment .bg-current-nav-segment   {
    visibility: hidden;
}

.nav-rail-segment.w--current .state-layer.default, .nav-rail-segment.w--current .label.small.for-nav.default, .nav-rail-segment.w--current .nav-rail-segment-icon.default, .nav-drawer-segment.w--current .state-layer.default, .nav-drawer-segment.w--current .label.large.for-nav.default {
    visibility: hidden;
}

.nav-rail-segment.w--current .state-layer.current, .nav-rail-segment.w--current .label.small.for-nav.current, .nav-rail-segment.w--current .nav-rail-segment-icon.current, .nav-rail-segment.w--current .bg-current-nav-segment, .nav-drawer-segment.w--current .state-layer.current, .nav-drawer-segment.w--current .label.large.for-nav.current, .nav-drawer-segment.w--current .bg-current-nav-segment {
    visibility: visible;
}

/* Hide the Lottie animation by default */
.lottie-hero.dark {
  display: none;
}

/* When dark mode is active, show the Lottie animation */
:root.dark .lottie-hero.dark {
  display: block;
}

/* Hide the Lottie animation by default */
.lottie-hero.light {
  display: block;
}

/* When dark mode is active, show the Lottie animation */
:root.dark .lottie-hero.light {
  display: none;
}

.icon-button.theme-toggle:hover .icon-for-icon-button.theme-toggle .material-symbols-rounded {
    font-variation-settings: 'FILL'1, 'wght'300, 'GRAD'0, 'opsz'20;
    transition: all 0.2s ease-in-out;
}

:root.dark .icon-for-icon-button.theme-toggle.dark-icon {
    transform: translateY(-40px);
    transition: transform 0.2s ease-in-out;
}

:root.dark .icon-for-icon-button.theme-toggle.light-icon {
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
}

.icon-for-icon-button.theme-toggle.dark-icon {
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
}

.icon-for-icon-button.theme-toggle.light-icon {
    transform: translateY(40px);
    transition: transform 0.2s ease-in-out;
}

:root.dark .project-preview-image, :root.dark .lazy {
	filter: brightness(90%);
  	transition: filter .2s ease-out, border-color .2s ease-out, background-color .2s ease-out;
}

.nav-rail-segment-icon svg {
	transition: color .2s ease-out;
}

/* When dark mode is active, show dark image */
:root.dark .lazy.dark {
  display: block;
}

/* When dark mode is active, show dark image */
:root.dark .lazy.light {
  display: none;
}

/* When dark mode is active, show dark image */
.lazy.dark {
  display: none;
}

/* When dark mode is active, show dark image */
.lazy.light {
  display: block;
}

/* Defining color variables for dark theme */
:root.dark {
  --pre-loader-main: #121316;
  --pre-loader-sos: #141316;
  --pre-loader-t121: #111412;
  --pre-loader-rhds: #111416;
  --pre-loader-rhjo: #181212;
}

/* Defining color variables for light/default theme */
:root {
  --pre-loader-main: #DAD9DD;
  --pre-loader-sos: #DDD9DD;
  --pre-loader-t121: #D8DBD7;
  --pre-loader-rhds: #D9DADC;
  --pre-loader-rhjo: #E4D7D7;
}

/* Applying variables to the respective classes */
.pre-loader.main { background-color: var(--pre-loader-main, #121316); }
.pre-loader.sos { background-color: var(--pre-loader-sos); }
.pre-loader.t121 { background-color: var(--pre-loader-t121); }
.pre-loader.rhds { background-color: var(--pre-loader-rhds); }
.pre-loader.rhjo { background-color: var(--pre-loader-rhjo); }


.hero-header {
    pointer-events: none; 
}

/*blurHash fade in*/

img {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

img.loaded {
    opacity: 1;
}

/* loader styling */

.rainbow-wave-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
}

.rainbow-wave-loader div {
    width: 4px;
    height: 40px;
    margin: 0 2px;
    background-color: #BCC2FF;
    animation: wave 2s infinite ease-in-out;
    opacity: 0.4;
    will-change: transform, opacity; /* Optimized for animation */
    border-radius: 10px; /* Reduced for testing */
    transform: scaleY(0.5) translateZ(0); /* Added translateZ(0) for hardware acceleration */
}


.highlight {
    background-color: #DFE0FF; /* Highlight color */
}


.rainbow-wave-loader div:nth-child(2) { animation-delay: -1.8s; }
.rainbow-wave-loader div:nth-child(3) { animation-delay: -1.6s; }
.rainbow-wave-loader div:nth-child(4) { animation-delay: -1.4s; }
.rainbow-wave-loader div:nth-child(5) { animation-delay: -1.2s; }
.rainbow-wave-loader div:nth-child(6) { animation-delay: -1.0s; }
.rainbow-wave-loader div:nth-child(7) { animation-delay: -0.8s; }
.rainbow-wave-loader div:nth-child(8) { animation-delay: -0.6s; }
.rainbow-wave-loader div:nth-child(9) { animation-delay: -0.4s; }
.rainbow-wave-loader div:nth-child(10) { animation-delay: -0.2s; }

/*@keyframes wave {
    0%, 100% {
        transform: scaleY(0.5);
        opacity: 0.4;
    }
    50% {
        transform: scaleY(1.2);
        opacity: 1;
    }
}*/

@keyframes wave {
    0%, 100% {
        transform: scaleY(0.6) translateZ(0); /* Less extreme scaling */
        opacity: 0.6;
    }
    50% {
        transform: scaleY(0.9) translateZ(0);
        opacity: 0.9;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--surface-dim);
    z-index: 99999; /* Make sure this is above everything else */
}

/* fade-out effect on loader*/

.fade-out {
    animation: fadeOut 2s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* button ripple effect */

@keyframes ripple-fade-away {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    /*background: rgba(0, 0, 0, 0.12);*/
    transform: scale(0);
    opacity: 0;
}

.ripple.active {
    animation: ripple-fade-away 0.6s ease-out;
    opacity: 1;
}

/* scroll to change radius of an element */


.changing-radius {
    transition: border-radius 0.6s ease-out;
}

/* element fade-in effect on scroll */

.fade-effect {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity .3s linear, transform 1s cubic-bezier(0.26, 0.67, 0.48, 0.91);
}

/* chip dropdown/tabs */

.tabs-menu-bg-mobile-dropdown {
    pointer-events: none !important;
}

.chip-trailing-icon.filter-dropdown.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/*hide and show before/after static images*/

.splitter-container.hidden {
    display: none !important;
}

.static-before-after.visible {
    display: flex !important;
    align-items: stretch;
}

/* unselected switch */

/* visible/hiddens items on unselected switch enabled */

.switch.unselected .handle.enabled.unselected,
.switch.unselected .switch-track-bg.unselected {
    visibility: visible;
    opacity: 100%;
}

.switch.unselected .handle.hover-focused-pressed.unselected,
.switch.unselected .state-layer.for-switch.hover.unselected,
.switch.unselected .state-layer.for-switch.focused-pressed.unselected {
    visibility: visible;
    opacity: 0%;
}

/* visible/hidden items on unselected switch hover */

.switch.unselected:hover .handle.hover-focused-pressed.unselected,
.switch.unselected:hover .state-layer.for-switch.hover.unselected {
    opacity: 100%;
}

.switch.unselected:hover .handle.enabled.unselected {
    opacity: 0%;
}

/* visible/hidden items on unselected switch active */

.switch.unselected:active .handle.hover-focused-pressed.unselected,
.switch.unselected:active .state-layer.for-switch.focused-pressed.unselected {
    opacity: 100%;
}

.switch.unselected:active .handle.enabled.unselected {
    opacity: 0%;
}

/* active transforms */

.switch.unselected:active .handle.hover-focused-pressed.unselected {
    height: 28.75px !important;
    width: 28.75px !important;
}

/* hidden items on all unselected switch states */

.switch.unselected .handle.enabled.selected,
.switch.unselected .handle.hover-focused-pressed.selected,
.switch.unselected .state-layer.for-switch.hover.selected,
.switch.unselected .state-layer.for-switch.focused-pressed.selected,
.switch.unselected .switch-track-bg.selected {
    visibility: hidden;
    opacity: 0% !important;
}

/* selected switch */

.switch.selected .handle-container {
    transform: translateX(23px);
}

.switch.selected .handle.enabled.selected,
.switch.selected .handle.hover-focused-pressed.selected {
    height: 24px !important;
    width: 24px !important;
}

/* switch pointer and border */

.switch.selected {
    border: var(--sys--light--primary) !important;
}

/* visible/hiddens items on selected switch enabled */

.switch.selected .handle.enabled.selected,
.switch.selected .switch-track-bg.selected {
    visibility: visible;
    opacity: 100%;
}

.switch.selected .handle.hover-focused-pressed.selected,
.switch.selected .state-layer.for-switch.hover.selected,
.switch.selected .state-layer.for-switch.focused-pressed.selected {
    visibility: visible;
    opacity: 0%;
}

/* visible/hidden items on selected switch hover */

.switch.selected:hover .handle.hover-focused-pressed.selected,
.switch.selected:hover .state-layer.for-switch.hover.selected {
    opacity: 100%;
}

.switch.selected:hover .handle.enabled.selected {
    opacity: 0%;
}

/* visible/hidden items on selected switch active */

.switch.selected:active .handle.hover-focused-pressed.selected,
.switch.selected:active .state-layer.for-switch.focused-pressed.selected {
    opacity: 100%;
}

.switch.selected:active .handle.enabled.selected {
    opacity: 0%;
}

/* active transforms */

.switch.selected:active .handle.hover-focused-pressed.selected {
    height: 28px !important;
    width: 28px !important;
}

/* hidden items on all selected switch states */

.switch.selected .handle.enabled.unselected,
.switch.selected .handle.hover-focused-pressed.unselected,
.switch.selected .state-layer.for-switch.hover.unselected,
.switch.selected .state-layer.for-switch.focused-pressed.unselected,
.switch.selected .switch-track-bg.unselected {
    visibility: hidden;
    opacity: 0% !important;
}


/* unselected tab */

/* selected icon hidden */

.button-segment .icon-segmented-button.selected,
.tab-link .chip.outlined.tab .chip-selected-icon {
    visibility: hidden;
    opacity: 0%;
}

/* chip leading icon visible */

.tab-link .chip.outlined.tab .chip-leading-icon {
    visibility: visible;
    opacity: 100%;
}

/* selected bg hidden, selected label hidden */

.button-segment .state-layer.bg.selected,
.button-segment .segmented-label-text-div .label.large.selected,
.tab-link .chip.outlined.tab .state-layer.bg.selected,
.tab-link .chip.outlined.tab .chip-tab-label .label.large.selected,
.tab-link .menu-item .state-layer.bg.selected {
    visibility: hidden;
    opacity: 0%;
}

/* unselected label visible */

.button-segment .segmented-label-text-div .label.large.unselected,
.tab-link .chip.outlined.tab .chip-tab-label .label.large.unselected.on-surface-variant {
    opacity: 100%;
    visibility: visible;
}

/* selected state-layers hidden */

.button-segment .state-layer.selected,
.tab-link .chip.outlined.tab .state-layer.selected,
.tab-link .menu-item .state-layer.selected {
    /*display: none;*/
    visibility: hidden;
}

/* unselected state-layers visible */

.button-segment .state-layer.unselected,
.tab-link .chip.outlined.tab .state-layer.unselected,
.tab-link .menu-item .state-layer.unselected {
    /*display: block;*/
    visibility: visible;
}

/* selected current tab */

/* selected icon visible */

.button-segment.w--current .icon-segmented-button.selected,
.tab-link.w--current .chip.outlined.tab .chip-selected-icon {
    display: flex;
    visibility: visible;
    opacity: 100%;
}

/* chip leading icon hidden */

.tab-link.w--current .chip.outlined.tab .chip-leading-icon {
    visibility: hidden;
    opacity: 0%;
}

/* selected bg visible, selected label visible */

.button-segment.w--current .state-layer.bg.selected,
.button-segment.w--current .segmented-label-text-div .label.large.selected,
.tab-link.w--current .chip.outlined.tab .state-layer.bg.selected,
.tab-link.w--current .chip.outlined.tab .chip-tab-label .label.large.selected,
.tab-link.w--current .menu-item .state-layer.bg.selected {
    opacity: 100%;
    visibility: visible;
}

/* unselected label text hidden */

.button-segment.w--current .segmented-label-text-div .label.large.unselected,
.tab-link.w--current .chip.outlined.tab .chip-tab-label .label.large.unselected.on-surface,
.tab-link.w--current .chip.outlined.tab .chip-tab-label .label.large.unselected.on-surface-variant {
    opacity: 0%;
    visibility: hidden;
}

/* selected state-layers visible */

.button-segment.w--current .state-layer.selected,
.tab-link.w--current .chip.outlined.tab .state-layer.selected,
.tab-link.w--current .menu-item .state-layer.selected {
    /*display: block;*/
    visibility: visible;
}

/* unselected state-layers hidden */

.button-segment.w--current .state-layer.unselected,
.tab-link.w--current .chip.outlined.tab .state-layer.unselected,
.tab-link.w--current .chip.outlined.tab .pseudo-border,
.tab-link.w--current .menu-item .state-layer.unselected {
    /*display: none;*/
    visibility: hidden;
}

.tab-link.w--current .chip.outlined.tab:hover {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}

.tab-link.w--current .chip.outlined.tab:active {
    box-shadow: none;
}
