body,
html {
    scroll-behavior: smooth;
}

.w-tab-link.w--current {
    background-color: transparent !important;
}

/* material symbols */

.material-symbols-rounded {
    font-variation-settings:
        'FILL'0,
        'wght'300,
        'GRAD'0,
        'opsz'20
}

/* Initially hide main content */
#main-content {
    visibility: hidden;
}

.hero-header {
    pointer-events: none; 
}

/*blurHash fade in*/

img {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

img.loaded {
    opacity: 1;
}

/* loader styling */

.rainbow-wave-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
}

.rainbow-wave-loader div {
    width: 4px;
    height: 40px;
    margin: 0 2px;
    background-color: #BCC2FF;
    animation: wave 2s infinite ease-in-out;
    opacity: 0.4;
    will-change: transform, opacity; /* Optimized for animation */
    border-radius: 10px; /* Reduced for testing */
    transform: scaleY(0.5) translateZ(0); /* Added translateZ(0) for hardware acceleration */
}


.highlight {
    background-color: #DFE0FF; /* Highlight color */
}


.rainbow-wave-loader div:nth-child(2) { animation-delay: -1.8s; }
.rainbow-wave-loader div:nth-child(3) { animation-delay: -1.6s; }
.rainbow-wave-loader div:nth-child(4) { animation-delay: -1.4s; }
.rainbow-wave-loader div:nth-child(5) { animation-delay: -1.2s; }
.rainbow-wave-loader div:nth-child(6) { animation-delay: -1.0s; }
.rainbow-wave-loader div:nth-child(7) { animation-delay: -0.8s; }
.rainbow-wave-loader div:nth-child(8) { animation-delay: -0.6s; }
.rainbow-wave-loader div:nth-child(9) { animation-delay: -0.4s; }
.rainbow-wave-loader div:nth-child(10) { animation-delay: -0.2s; }

/*@keyframes wave {
    0%, 100% {
        transform: scaleY(0.5);
        opacity: 0.4;
    }
    50% {
        transform: scaleY(1.2);
        opacity: 1;
    }
}*/

@keyframes wave {
    0%, 100% {
        transform: scaleY(0.6) translateZ(0); /* Less extreme scaling */
        opacity: 0.6;
    }
    50% {
        transform: scaleY(0.9) translateZ(0);
        opacity: 0.9;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('https://uploads-ssl.webflow.com/64ed0eda554985509ce79cce/655c39f1d1f5d14e8fae8258_hero%20blur.webp') no-repeat center center;
    background-size: cover; /* Ensures that the background covers the entire area */
    z-index: 1000; /* Make sure this is above everything else */
}

/* fade-out effect on loader*/

.fade-out {
    animation: fadeOut 2s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* button ripple effect */

@keyframes ripple-fade-away {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    /*background: rgba(0, 0, 0, 0.12);*/
    transform: scale(0);
    opacity: 0;
}

.ripple.active {
    animation: ripple-fade-away 0.6s ease-out;
    opacity: 1;
}

/* scroll to change radius of an element */


.changing-radius {
    transition: border-radius 0.3s ease-out;
}

/* element fade-in effect on scroll */

.fade-effect {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity .6s linear, transform .6s cubic-bezier(0.26, 0.67, 0.48, 0.91);
}

/* chip dropdown/tabs */

.tabs-menu-bg-mobile-dropdown {
    pointer-events: none !important;
}

.chip-trailing-icon.filter-dropdown.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/*hide and show before/after static images*/

.splitter-container.hidden {
    display: none !important;
}

.static-before-after.visible {
    display: flex !important;
}

/* unselected switch */

/* visible/hiddens items on unselected switch enabled */

.switch.unselected .handle.enabled.unselected,
.switch.unselected .switch-track-bg.unselected {
    visibility: visible;
    opacity: 100%;
}

.switch.unselected .handle.hover-focused-pressed.unselected,
.switch.unselected .state-layer.for-switch.hover.unselected,
.switch.unselected .state-layer.for-switch.focused-pressed.unselected {
    visibility: visible;
    opacity: 0%;
}

/* visible/hidden items on unselected switch hover */

.switch.unselected:hover .handle.hover-focused-pressed.unselected,
.switch.unselected:hover .state-layer.for-switch.hover.unselected {
    opacity: 100%;
}

.switch.unselected:hover .handle.enabled.unselected {
    opacity: 0%;
}

/* visible/hidden items on unselected switch active */

.switch.unselected:active .handle.hover-focused-pressed.unselected,
.switch.unselected:active .state-layer.for-switch.focused-pressed.unselected {
    opacity: 100%;
}

.switch.unselected:active .handle.enabled.unselected {
    opacity: 0%;
}

/* active transforms */

.switch.unselected:active .handle.hover-focused-pressed.unselected {
    height: 28.75px !important;
    width: 28.75px !important;
}

/* hidden items on all unselected switch states */

.switch.unselected .handle.enabled.selected,
.switch.unselected .handle.hover-focused-pressed.selected,
.switch.unselected .state-layer.for-switch.hover.selected,
.switch.unselected .state-layer.for-switch.focused-pressed.selected,
.switch.unselected .switch-track-bg.selected {
    visibility: hidden;
    opacity: 0% !important;
}

/* selected switch */

.switch.selected .handle-container {
    transform: translateX(22px);
}

.switch.selected .handle.enabled.selected,
.switch.selected .handle.hover-focused-pressed.selected {
    height: 24px !important;
    width: 24px !important;
}

/* switch pointer and border */

.switch.selected {
    border: var(--sys--light--primary) !important;
}

/* visible/hiddens items on selected switch enabled */

.switch.selected .handle.enabled.selected,
.switch.selected .switch-track-bg.selected {
    visibility: visible;
    opacity: 100%;
}

.switch.selected .handle.hover-focused-pressed.selected,
.switch.selected .state-layer.for-switch.hover.selected,
.switch.selected .state-layer.for-switch.focused-pressed.selected {
    visibility: visible;
    opacity: 0%;
}

/* visible/hidden items on selected switch hover */

.switch.selected:hover .handle.hover-focused-pressed.selected,
.switch.selected:hover .state-layer.for-switch.hover.selected {
    opacity: 100%;
}

.switch.selected:hover .handle.enabled.selected {
    opacity: 0%;
}

/* visible/hidden items on selected switch active */

.switch.selected:active .handle.hover-focused-pressed.selected,
.switch.selected:active .state-layer.for-switch.focused-pressed.selected {
    opacity: 100%;
}

.switch.selected:active .handle.enabled.selected {
    opacity: 0%;
}

/* active transforms */

.switch.selected:active .handle.hover-focused-pressed.selected {
    height: 28px !important;
    width: 28px !important;
}

/* hidden items on all selected switch states */

.switch.selected .handle.enabled.unselected,
.switch.selected .handle.hover-focused-pressed.unselected,
.switch.selected .state-layer.for-switch.hover.unselected,
.switch.selected .state-layer.for-switch.focused-pressed.unselected,
.switch.selected .switch-track-bg.unselected {
    visibility: hidden;
    opacity: 0% !important;
}


/* unselected tab */

/* selected icon hidden */

.button-segment .icon-segmented-button.selected,
.tab-link .chip.outlined.tab .chip-selected-icon {
    visibility: hidden;
    opacity: 0%;
}

/* chip leading icon visible */

.tab-link .chip.outlined.tab .chip-leading-icon {
    visibility: visible;
    opacity: 100%;
}

/* selected bg hidden, selected label hidden */

.button-segment .state-layer.bg.selected,
.button-segment .segmented-label-text-div .label.large.selected,
.tab-link .chip.outlined.tab .state-layer.bg.selected,
.tab-link .chip.outlined.tab .chip-tab-label .label.large.selected,
.tab-link .menu-item .state-layer.bg.selected {
    visibility: hidden;
    opacity: 0%;
}

/* unselected label visible */

.button-segment .segmented-label-text-div .label.large.unselected,
.tab-link .chip.outlined.tab .chip-tab-label .label.large.unselected.on-surface-variant {
    opacity: 100%;
    visibility: visible;
}

/* selected state-layers hidden */

.button-segment .state-layer.selected,
.tab-link .chip.outlined.tab .state-layer.selected,
.tab-link .menu-item .state-layer.selected {
    /*display: none;*/
    visibility: hidden;
}

/* unselected state-layers visible */

.button-segment .state-layer.unselected,
.tab-link .chip.outlined.tab .state-layer.unselected,
.tab-link .menu-item .state-layer.unselected {
    /*display: block;*/
    visibility: visible;
}

/* selected current tab */

/* selected icon visible */

.button-segment.w--current .icon-segmented-button.selected,
.tab-link.w--current .chip.outlined.tab .chip-selected-icon {
    display: flex;
    visibility: visible;
    opacity: 100%;
}

/* chip leading icon hidden */

.tab-link.w--current .chip.outlined.tab .chip-leading-icon {
    visibility: hidden;
    opacity: 0%;
}

/* selected bg visible, selected label visible */

.button-segment.w--current .state-layer.bg.selected,
.button-segment.w--current .segmented-label-text-div .label.large.selected,
.tab-link.w--current .chip.outlined.tab .state-layer.bg.selected,
.tab-link.w--current .chip.outlined.tab .chip-tab-label .label.large.selected,
.tab-link.w--current .menu-item .state-layer.bg.selected {
    opacity: 100%;
    visibility: visible;
}

/* unselected label text hidden */

.button-segment.w--current .segmented-label-text-div .label.large.unselected,
.tab-link.w--current .chip.outlined.tab .chip-tab-label .label.large.unselected.on-surface,
.tab-link.w--current .chip.outlined.tab .chip-tab-label .label.large.unselected.on-surface-variant {
    opacity: 0%;
    visibility: hidden;
}

/* selected state-layers visible */

.button-segment.w--current .state-layer.selected,
.tab-link.w--current .chip.outlined.tab .state-layer.selected,
.tab-link.w--current .menu-item .state-layer.selected {
    /*display: block;*/
    visibility: visible;
}

/* unselected state-layers hidden */

.button-segment.w--current .state-layer.unselected,
.tab-link.w--current .chip.outlined.tab .state-layer.unselected,
.tab-link.w--current .chip.outlined.tab .pseudo-border,
.tab-link.w--current .menu-item .state-layer.unselected {
    /*display: none;*/
    visibility: hidden;
}

.tab-link.w--current .chip.outlined.tab:hover {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}

.tab-link.w--current .chip.outlined.tab:active {
    box-shadow: none;
}
